<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMessageSvc" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFileSvc" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Manager_Server/Message/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageSvc"
                contract="Server_Message.IMessageSvc" name="BasicHttpBinding_IMessageSvc" />
            <endpoint address="net.tcp://localhost:8734/Design_Time_Addresses/Manager_Server/File/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileSvc"
                contract="Server_File.IFileSvc" name="NetTcpBinding_IFileSvc">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>